<!DOCTYPE html>
<html lang="cn">
<head>
  <meta charset="UTF-8">
  <title>模型评估</title>
  <script type = "text/javascript" src = "/static/charts.js" > </script>
  <script src="/static/extlib/jquery.js"></script>
  <script type="text/javascript" src="/static/extlib/echarts.min.js"></script>
</head>
<body>
  {% if errinfo %}
    <script>
      alert("{{ errinfo }}")
    </script>
  {% endif %}

  <div style="width: 94%; height: 540px; margin-left: 3%">
    <div style="width: 32%; height: 100%; float: left">
      <h4> 选择数据集 </h4>
        <form action="" method="post" style="width: 100%; height: 48%; float: top">
          <div style="width: 100%; height: 80%; overflow-y: auto">
            {% for dataset in view.datasets %}
              <input type="hidden" name="name" value="select-dataset" />
              <p><label>
                {% if dataset == view.selected_dataset %}
                  <input type="radio" name="dataset" value="{{ dataset }}" checked>
                {% else %}
                  <input type="radio" name="dataset" value="{{ dataset }}">
                {% endif %}
              </label> {{ dataset }} </p>
            {% endfor %}
          </div>
          <input type="submit" value="确认" style="margin-top: 10px">
        </form>
      <div style="width: 100%; height: 40%; float: top; margin-top: 4%">
        <form action="" enctype='multipart/form-data' method='POST'>
          <input type="hidden" name="name" value="upload-dataset" />
          <p>
            选择描述文件(.txt)
            <input type="file" name="desc">
          </p>
          <p>
            选择数据文件(.csv)
            <input type="file" name="data">
          </p>
            <p><label>
              <input type="radio" name="keep-or-not" value="T">
            </label> 长期保留数据集 </p>
            <p><label>
              <input type="radio" name="keep-or-not" value="F" checked>
            </label> 不保留数据集 </p>
          <input type="submit" value="上传数据集">
        </form>
      </div>
    </div>
    <div style="width: 64%; height: 100%; float: left; margin-left: 4%">
      <h4> 离散属性 </h4>
        <div style="width: 100%; height: 36%; float: top; overflow-y: auto">
          {% for line_text in view.c_featr_texts %}
            <li> {{ line_text }} </li>
          {% endfor %}
        </div>
      <h4> 连续属性 </h4>
        <div style="width: 100%; height: 28%; float: top; overflow-y: auto">
          {% for line_text in view.n_featr_texts %}
            <li> {{ line_text }} </li>
          {% endfor %}
        </div>
      <h4> 目标属性 </h4>
        {{ view.label_text }}
      </div>
    <form method="post">
      <input type="hidden" name="name" value="next" />
      <input type="submit" value="下一步" style="float: top; margin-top: 40px">
    </form>
	</div>

</body>
</html>
