<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <head>
    <script type = "text/javascript"
      src = "{{ url_for('static', filename = 'redirection.js') }}" >
    </script>
  </head></head>
<body>
  Welcome to the web page of Fairness Project <br>
  Finished Processes: <br>
  {% for p in f_processes %}
    <li>
      <a href="/process/{{ p.get_strid() }}">{{ p.get_name() }}</a>
    </li>
  {% endfor %}
  Running Processes:
  {% for p in r_processes %}
    <li>
      <a href="/process/{{ p.get_strid() }}">{{ p.get_name() }}</a>
    </li>
  {% endfor %}
  <input type="submit" value="Create New Process" onclick="toCreate()">
</body>
</html>
