<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>机器学习公平性评估和建议平台</title>
    <script type="text/javascript" src="/static/redirect.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}"/>
</head>
<div class="headerpage"></div>

<p>
    本平台提供分析机器学习数据、模型中存在的公平性问题，并通过多目标算法优化模型减轻模型的不公平性的功能。机器学习中的公平性一般指 [1]：<br>
<li>在非敏感特征上相同的人，其预测结果（或标签）应相似。例如成绩相同的学生，不论性别，模型对其录取结果的预测应相同。</li>
<li>不同人群之间的预测结果（或标签）的差异不应大于他们的非敏感特征之间的差异。</li>
通常情况下，有一些被法律识别的特征是不允许歧视的，在计算机科学文献中，通常这些特征被认为是“受保护的”或“敏感的”属性 [2]
</p>
<p>
    [1] I. Zliobaite, Measuring discrimination in algorithmic decision making," Data Mining and Knowledge Discovery,
    vol. 31, no. 4, pp. 1060-1089, 2017
</p>
<p>
    [2] Mehrabi, N., Morstatter, F., Saxena, N., Lerman, K. and Galstyan, A. (2021). A survey on bias and fairness in
    machine learning.
    ACM Computing Surveys (CSUR), 54(6), 1-35.
</p>

<h3> 历史任务: </h3>
{% for task_id in algomnger.finished_tasks.keys() %}
    <a href="/task/{{ task_id }}"> {{ task_id }} </a>
    <br>
{% endfor %}
<h3> 运行中任务: </h3>
{% for task_id in algomnger.running_tasks.keys() %}
    <a href="/task/{{ task_id }}"> {{ task_id }} </a>
    <br>
{% endfor %}

<form method="post" style="float: top; margin-top: 10px">
    <input type="hidden" name="name" value="next">
    <input type="hidden" name="tar" value="/data-eval">
    <input type="submit" value="评估数据公平性">
</form>
<form method="post" style="float: top; margin-top: 10px">
    <input type="hidden" name="name" value="next">
    <input type="hidden" name="tar" value="/model-upload">
    <input type="submit" value="评估模型公平性">
</form>
<form method="post" style="float: top; margin-top: 10px">
    <input type="hidden" name="name" value="next">
    <input type="hidden" name="tar" value="/algo-cfg">
    <input type="submit" value="创建新任务">
</form>

<div class="footerpage"></div>
<script src="{{ url_for('static',filename='extlib/jquery.js') }}"></script>
<script>
    $(function () {
        $(".headerpage").load("{{url_for('static',filename='header.html')}}");
        $(".footerpage").load("{{url_for('static',filename='footer.html')}}");
    });
</script>
</body>
</html>
