<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>{{  _("platform_name") }}</title>
    <script type="text/javascript" src="/static/redirect.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}"/>
</head>
<div class="headerpage"></div>

<p>
    {{ _("intro_1") }}<br>
<li>{{ _("intro_2") }}</li>
<li>{{ _("intro_3") }}</li>
<br>{{ _("intro_4") }}<br>
<br>{{ _("intro_5") }}
</p>
<p>
    [1] I. Zliobaite, Measuring discrimination in algorithmic decision making," Data Mining and Knowledge Discovery,
    vol. 31, no. 4, pp. 1060-1089, 2017
</p>
<p>
    [2] Mehrabi, N., Morstatter, F., Saxena, N., Lerman, K. and Galstyan, A. (2021). A survey on bias and fairness in
    machine learning.
    ACM Computing Surveys (CSUR), 54(6), 1-35.
</p>
<p>
    [3] Qingquan Zhang, Jialin Liu, Zeqi Zhang, Junyi Wen, Bifei Mao, and Xin Yao. 2021. Fairer Machine Learning Through Multi-objective Evolutionary Learning. InInternational Conference on Artificial Neural Networks. Springer, 111–123.
</p>
<h3> {{ _("finished_task") }} </h3>
{% for task_id in algomnger.finished_tasks.keys() %}
    <a href="/task/{{ task_id }}"> {{ task_id }} </a>
    <br>
{% endfor %}
<h3> {{ _("running_task") }} </h3>
{% for task_id in algomnger.running_tasks.keys() %}
    <a href="/task/{{ task_id }}"> {{ task_id }} </a>
    <br>
{% endfor %}

<form method="post" style="float: top; margin-top: 10px">
    <input type="hidden" name="name" value="next">
    <input type="hidden" name="tar" value="/data-eval">
    <input type="submit" value="{{ _("func1") }}">
</form>
<form method="post" style="float: top; margin-top: 10px">
    <input type="hidden" name="name" value="next">
    <input type="hidden" name="tar" value="/model-upload">
    <input type="submit" value="{{ _("func2") }}">
</form>
<form method="post" style="float: top; margin-top: 10px">
    <input type="hidden" name="name" value="next">
    <input type="hidden" name="tar" value="/algo-cfg">
    <input type="submit" value="{{ _("func3") }}">
</form>

<div class="footerpage"></div>
<script src="{{ url_for('static',filename='extlib/jquery.js') }}"></script>
<script>
    $(function () {
        {#$(".headerpage").load("{{url_for('static',filename='header.html')}}");#}
        {#$(".footerpage").load("{{url_for('static',filename='footer.html')}}");#}
        $(".headerpage").load("{{ url_for('loadheader', para="null") }}");
        $(".footerpage").load("{{ url_for('loadfooter') }}");
    });
</script>
</body>
</html>
