<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>上传机器学习模型</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}"/>
</head>
<body>
  <div class="headerpage"></div>
  {% if errinfo %}
    <script>
      alert("{{ errinfo }}")
    </script>
  {% endif %}

  <div style="height: 700px">
    <div style="margin-left: 100px; margin-right: 100px">
        <div style="width: 90%; float: left"><h1>请上传模型</h1></div>
        <div style="width: 10%; float: left; margin-top: 30px">
          <input type="button" value="回到主页面" onclick="window.location.href='/'">
        </div>
    </div>
    <div style="float: left; margin-left: 100px">
      <h3> 模型定义文件示意图 </h3>
      <img src="{{ url_for('static', filename= './assets/model_py_example.png') }}" alt="model_py_example"/>
    </div>
    <div style="width: 600px; float: left; margin-left: 40px; margin-top: 35px">
      <h3>
        请参考左图上传pytorch模型定义文件（.py）和保存的参数（.pth或.pkl）文件。
        模型参数文件必须是通过torch.save(model.state_dict(), path)保存的。
        模型定义文件需要包括一个完整的torch.nn.Module子类和一个无参main()函数，
        该函数返回一个创建好的模型对象。
      </h3>
      <a href="/model/model_def_template"> 下载模型结构定义文件模板 </a>
      <form action="" enctype='multipart/form-data' method='POST'>
        <p>选择模型结构定义文件(.py)</p>
        <p><input type="file" name="struct"></p>
        <p>选择模型参数文件(.pth或.pkl)</p>
        <p><input type="file" name="var"></p>
        <input type="submit" value="上传模型并进行模型评估">
      </form>
    </div>
  </div>
  <div class="footerpage"></div>
  <script src="{{url_for('static',filename='extlib/jquery.js')}}"></script>
  <script>
    $(function() {
      $(".headerpage").load("{{url_for('static',filename='header.html')}}");
      $(".footerpage").load("{{url_for('static',filename='footer.html')}}");
    });
  </script>
</body>
</html>
