<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ _("upload_ml_model") }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}"/>
</head>
<body>
<div class="headerpage"></div>
{% if errinfo %}
    <script>
        alert("{{ errinfo }}")
    </script>
{% endif %}

<div style="width: 100%; float: left">
    <input type="button" value="{{ _("back") }}" onclick="window.location.href='/'">
</div>

<div style="height: 700px">
    <div>
        <div style="width: 100%; float: left"><h1>{{ _("upload_model") }}</h1></div>
    </div>
    <div style="float: left">
        <h3> {{ _("model_def_file_demo") }} </h3>
        <img src="{{ url_for('static', filename= './assets/model_py_example.png') }}" alt="model_py_example"/>
    </div>
    <div style="width: 600px; float: left; margin-left: 50px; margin-top: 35px">
        <h3>
            {{ _("model_def_file_dec") }}
        </h3>
        <a href="/model/model_def_template"> {{ _("download_model_template") }} </a>
        <form action="" enctype="multipart/form-data" method='POST'>
            <p>{{ _("choose_model_structure") }}(.py)</p>
            <p><input type="file" name="struct"></p>
            <p>{{ _("choose_model_para") }}(.pth or .pkl)</p>
            <p><input type="file" name="var"></p>
            <input type="submit" value="{{ _("upload_model_eval") }}">
        </form>
    </div>
</div>
<div class="footerpage"></div>
<script src="{{ url_for('static',filename='extlib/jquery.js') }}"></script>
<script>
    $(function () {
        $(".headerpage").load("{{ url_for('loadheader', para="null") }}");
        $(".footerpage").load("{{ url_for('loadfooter') }}");
    });
</script>
</body>
</html>
