<!DOCTYPE html>
<html lang="cn">
<head>
  <meta charset="UTF-8">
  <title>进程情况</title>
  <script type = "text/javascript"
    src = "{{ url_for('static', filename = 'script.js') }}" >
  </script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}"/>
</head>
<body>
  <div class="headerpage"></div>
  <p> <input type="button" value="回到主页面" onclick="window.location.href='/'"> </p>
  <h2>
    优化过程-{{ pid }}（
      {% if finished %}
        已结束
      {% else %}
        运行中
      {% endif %}
    ）（待开发）
  </h2>
  <p>
    <img src="{{ url_for('static', filename= './images/curve.jpg') }}" alt="curve"/>
  </p>
  {% if not finished %}
  <p>
    <input type="submit" value="终止任务" onclick="killProcess()">
  </p>
  {% endif %}
  <p>
    {% if not finished %}
      <input type="submit" value="上传模型" onclick="uploadModels()">
    {% endif %}
    <input type="submit" value="下载模型" onclick="downloadModels()">
  </p>

  <div class="footerpage"></div>
  <script src="{{url_for('static',filename='extlib/jquery.js')}}"></script>
  <script>
    $(function() {
      $(".headerpage").load("{{url_for('static',filename='header.html')}}");
      $(".footerpage").load("{{url_for('static',filename='footer.html')}}");
    });
  </script>
</body>
</html>
