<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>进程情况</title>
    <script src="/static/extlib/jquery.js"></script>
    <script type="text/javascript" src="/static/extlib/echarts.min.js"></script>
    <script type="text/javascript" src="/static/charts.js"></script>
    <script type="text/javascript" src="/static/script.js"></script>
    <script type="text/javascript" src="/static/progress_bar.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}"/>
</head>

{#<script>#}
{#    $(function () {#}
{#        start_task({{ pid }})#}
{#    })#}
{#</script>#}

<body>
<div class="headerpage"></div>
<p><input type="button" value="回到主页面" onclick="window.location.href='/'"></p>
<h2>
    优化过程-{{ pid }}（
    {% if finished == 100 %}
        已结束
    {% else %}
        运行中
    {% endif %}
    ）
</h2>
<div>
    <div class="block" style="float:left;width:50%">
        <div id="{{ pid }}" style="width:480px; height:480px">
            <script> get_chart("{{ pid }}", "http://127.0.0.1:{{ port }}/task/{{ pid }}/chart") </script>
        </div>
    </div>
    <div style="float:left;width:50%">
        <h4>敏感属性：{{ cfg.sens_featrs }}</h4>
        <h4>优化目标：{{ cfg.acc_metric }}, {{ cfg.fair_metric }}</h4>
        <table border="1" align="left">
            <tr>
                <th></th>
                <th>ID</th>
                <th>{{ cfg.acc_metric }}</th>
                <th>{{ cfg.fair_metric }}</th>
            </tr>
            {% for fpop in fpops %}
                <tr>
                    <td><label>
                        <input type="checkbox" name="slct{{ i }}" checked>
                    </label></td>
                    <td>{{ loop.index }}</td>
                    <td>{{ fpop[0] }}</td>
                    <td>{{ fpop[1] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div id="btns" style="float:bottom;width:50%">
    {% if not finished %}
        <p>
            <input type="submit" value="开始任务" onclick="start_task({{ pid }})">
        </p>
    {% endif %}
    <p>
        {% if not finished %}
            <input type="submit" value="上传模型" onclick="uploadModels()">
        {% endif %}
        <input type="submit" value="下载模型" onclick="downloadModels()">
    </p>
</div>

<div class="progress-div">
    <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0"
             aria-valuemax="100" style="min-width: 2em; width: 2%;">0%
        </div>
    </div>
</div>

<div class="footerpage" style="float:bottom"></div>
<script src="{{ url_for('static',filename='extlib/jquery.js') }}"></script>
<script>
    $(function () {
        $(".headerpage").load("{{url_for('static',filename='header.html')}}");
        $(".footerpage").load("{{url_for('static',filename='footer.html')}}");
    });
</script>
</body>
</html>
