<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>进程情况</title>
    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    <script type="text/javascript" src="/static/charts.js"></script>
    <script type="text/javascript" src="/static/script.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}"/>
</head>
<body>
<div class="headerpage"></div>
<p><input type="button" value="回到主页面" onclick="window.location.href='/'"></p>
<h2>
    优化过程-{{ pid }}（
{#    {% if finished %}#}
{#        已结束#}
{#    {% else %}#}
{#        运行中#}
{#    {% endif %}#}
{#    ）#}
</h2>
<div>
    <div class="block" style="float:left;width:50%">
        <div id="{{ pid }}" style="width:480px; height:480px">
            <script> get_chart("{{ pid }}", "/task/{{ pid }}/chart") </script>
        </div>
    </div>
    <div style="float:left;width:50%">
        <table border="1" align="left">
            <tr>
                <th></th>
                <th>ID</th>
                <th>AUC(精确度指标)</th>
                <th>Disparate Impact(公平性指标)</th>
            </tr>
            {% for fpop in fpops %}
                <tr>
                    <td><label>
                        <input type="checkbox" name="slct{{ i }}" checked>
                    </label></td>
                    <td>{{ loop.index }}</td>
                    <td>{{ fpop[0] }}</td>
                    <td>{{ fpop[1] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div id="btns" style="float:bottom;width:50%">
    {% if not finished %}
        <p>
            <input type="submit" value="终止任务" onclick="killProcess()">
        </p>
    {% endif %}
    <p>
        {% if not finished %}
            <input type="submit" value="上传模型" onclick="uploadModels()">
        {% endif %}
        <input type="submit" value="下载模型" onclick="downloadModels()">
    </p>
</div>


<div class="footerpage" style="float:bottom"></div>
<script src="{{ url_for('static',filename='extlib/jquery.js') }}"></script>
<script>
    $(function () {
        $(".headerpage").load("{{url_for('static',filename='header.html')}}");
        $(".footerpage").load("{{url_for('static',filename='footer.html')}}");
    });
</script>
</body>
</html>
